<%#= form_for(@post, :html => { :multipart => true }) do |f| %>
<%= form_for(album, :html => { :multipart => true }) do |f| %>
  <% if album.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(album.errors.count, "error") %> prohibited this album from being saved:</h2>

      <ul>
      <% album.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="form-group">
    <%unless @album.persisted?%>
      <%= f.fields_for :images do |p| %>
       <div class="field">
        <%= p.label :pic %><br>
        <%= p.file_field :pic, :multiple => true, name: "images[pic][]" %>
       </div>
      <% end %>
    <%else%>
      <div class="field">
        <input multiple="multiple" name="images[pic][]" type="file" id="post_images_attributes_1_avatar">
      </div>
    <%end%>
  </div>



  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
